{% extends "base.html" %}
{% block title %} Bookmarks {% endblock %}
{% block content %}

<table>
    <tr>
        <th style="border-right=1px">Bookmarks</th>
        <th></th>
    </tr>
    {% for bookmark in bookmarks %}
    <tr>
        <td style="border-right=1px"><a href="/bookmark?bookmark_id={{bookmark.id}}"> {{bookmark.title}}</a></td>
        <td>
        <form action="/changebookmark" method="get">
            <input type="hidden" name="pageurl" value="{{curPageUrl}}">
            <input type="hidden" name="id" value="{{bookmark.id}}">
            <input type="submit" value="Edit"/>
        </form>
        </td>
        <td>
        <form action="/removebookmark" method="post">
            <input type="hidden" name="pageurl" value="{{curPageUrl}}">
            <input type="hidden" name="id" value="{{bookmark.id}}">
            <input type="submit" value="Delete"/>
        </form>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<br>
<a href="/addbookmark">Add new bookmark</a>
<br>
<br>
<table style="width:300; margin:auto">
    <tr>
        {%if prevPage %}
        <td><a href="{{prevPage.url}}">Previous page</a></td>
        {% endif %}
        <td>Page {{pageNumber}}</td>
        {%if nextPage %}
        <td><a href="{{nextPage.url}}">Next page</a></td>
        {% endif %}
    </tr>
</table>

{% endblock %}